.feature_section {
  display: flex;
  flex-direction: column;
}
.features_container {
  display: flex;
  flex-direction: row;
  padding: 100px 100px;
  max-width: 100%;
}
.feature_left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.feature_right {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 100%;
  padding: 0px 100px;
}
.feature_left p {
  color: gray;
}
.future_list {
  display: flex;
  justify-content: flex-start;
}
.future_list ul {
  list-style: none;
  padding-left: 10px;
}
.future_list li {
  padding: 10px 0px;
  color: gray;
}
.future_list ul li::before {
  color: red;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  margin-left: -1em;
  width: 1em;
}
.feature_button button {
  padding: 15px 40px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #fb3e3e;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .features_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 40px 30px;
  }
  .feature_left {
    width: 100%;
  }
  .feature_right {
    padding: 40px 20px;

    width: 100%;
    height: auto;
  }

  .future_list li {
    padding: 5px 0px;
    color: gray;
  }
  .feature_left h2 {
    font-size: 20px;
    text-align: start;
  }
  .feature_left p {
    font-size: 15px;
    text-align: start;
  }
}
