.header_section {
  display: flex;
  flex-direction: row;
  /* height: 120px; */
  width: 100%;
  /* justify-content: space-between; */
  align-items: center;
  /* padding: 0px 100px; */
  position: fixed;
  z-index: 5;
}

.logo h2 {
  color: white;
}
/* .nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
} */
/* .nav_bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
.container {
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
}
.nav_list {
  display: flex;
  flex-direction: row;
  /* width: 50%; */
}
.nav_list ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.nav_list li {
  padding: 0px 10px;
  color: white;
  cursor: pointer;
}
.buttons {
  width: 20%;
}
.buttons button {
  background-color: #fb3e3e;
  padding: 15px 25px;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.small_logo img {
  width: 25px;
  height: 25px;
}
.shadow {
  display: none;
}
@media screen and (max-width: 1150px) {
  .small_menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  .nav_list_mini {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav_list_mini ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .nav_list_mini li {
    padding: 10px 0px;
  }
  .shadow {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .buttons_mini {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  .nav_list_mini li {
    color: white;
  }
  .logo {
    display: none;
  }
  .nav_list {
    display: none;
  }
  .buttons {
    display: none;
  }
  .buttons_mini {
    display: flex;
    flex-direction: column;
  }
  .buttons_mini button {
    padding: 20px 40px;
    background-color: #fb3e3e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  .logo_small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
  .logo_small h2 {
    color: white;
  }
  .small_nav {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
  }
  .logo_mini h2 {
    color: white;
  }
  /* .container {
    display: none;
  } */
  .small_logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
